@model Sera.Models.ChangePasswordModel
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div id="sidebar" class="span3">
        <div class="well well-small">
            <ul class="nav nav-list">
                @Html.Action("_KategoriList", "Kategori")
                @Html.Action("Summary", "Cart")
            </ul>
        </div>


        <div class="well well-small" wfd-id="70">

            <h2>İletişim Bilgileri</h2>
            <ul class="list-group">
                <li class="list-group-item address"><i class="fa fa-fw fa-map-marker"></i>Address:Kurtuluş, 01130 Seyhan</li>
                <li class="list-group-item phone"><i class="fa fa-fw fa-phone"></i>Phone: +90322467349</li>
                <li class="list-group-item fax"><i class="fa fa-fw fa-print"></i>Fax: +135 6084218</li>
                <li class="list-group-item email"><i class="fa fa-fw fa-envelope"></i>Email: info@serarestoranadana.com</li>
                <li class="list-group-item website"><i class="fa fa-fw fa-globe"></i>Web: www.serarestoranadana.com</li>
            </ul>

        </div>
        <div class="well well-small">
            <article>
                <h3>Hizmet Günleri</h3>


                <img src="~/Content/Images/7-24.jpg" class=" img-circle" width="70" height="70">
                <ul>
                    <hr class="vertical-space1">
                    <li class="aboutWelcome">
                        Restoran açıldığı ilk günden beri her daim müşterilerine hizmeti sağlamıştır. Restoranımız online siparişlerinize haftanın her günü 24 saat hizmet vermektedir.
                    </li>
                </ul>
                <hr class="vertical-space2">
            </article>
        </div>

        @Html.Action("_OneCikanList", "Home")

    </div>
    <div class="span9">
        <ul class="breadcrumb">
            <li><a href="/Home/Index">Anasayfa</a> <span class="divider">/</span></li>
            <li class="active">Şifre Değiştirme</li>
        </ul>
        <hr class="soft" />
        <div class="well">
            @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
            {

                <h3>Şifrenizi değiştirebilirsiniz.</h3>
                @Html.AntiForgeryToken()
               

                <div class="control-group">
                    <label class="control-label" for="inputFname">Eski Şifre</label>
                    <div class="controls">
                        <div class="col-md-10">
                            @Html.PasswordFor(model => model.OldPassword, new { htmlAttributes = new { @class = "form-control", @style = "max-width:35%" } })
                            @Html.ValidationMessageFor(model => model.OldPassword, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputFname">Yeni Şifre</label>
                    <div class="controls">
                        <div class="col-md-10">
                            @Html.PasswordFor(model => model.NewPassword, new { htmlAttributes = new { @class = "form-control", @style = "max-width:35%" } })
                            @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputFname">Şifre Tekrarı</label>
                    <div class="controls">
                        <div class="col-md-10">
                            @Html.PasswordFor(model => model.ConNewPassword, new { htmlAttributes = new { @class = "form-control", @style = "max-width:35%" } })
                            @Html.ValidationMessageFor(model => model.ConNewPassword, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <input type="submit" name="submitAccount" value="Şifre Güncelle" class="exclusive shopBtn">
                    </div>
                </div>

            }

        </div>



    </div>
</div>

